<nav class="nav">
  <ul class="nav-horiz">
    <li>
      <a class="nav-item" href="/">
        Home
      </a>
    </li>
    <li><a class="nav-item" href="/view/logs">
        <i class="fa-solid fa-user fa-sm"></i>
      </a>
    </li>
  </ul>
</nav>